<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <script type="text/javascript" src="/js/adminjs.js"></script>


</head>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<body onLoad="generate()">
  <h1> Zone Admin aussi fort qu'Amin </h1>
  <input type="button" value="Remove urls pb" id="deleteUrlPb" onclick="destroyUrlPb()" />
  <table id="marker" border="1">
    <h1 id="nbmarker"> </h1>
    <textarea id="deleteMarker" placeholder="Put the id to delete"></textarea>
    <input type="button" value="Remove" id="deleteMarkerbutton" onclick="destroyMarker()" />
  </table>
  <table id="user" border="1">
   <h1 id="nbuser"></h1>
   <textarea id ="deleteUser" placeholder="Put the pseudo to delete "></textarea>
   <input type="button" value="remove" id="deleteUserbutton" onclick="destroyUserandMarkers()" />

  </table>
</body>
</html>

