<!DOCTYPE html>
<html >
  	<head>
	   <title>#title</title>
	    <link rel="stylesheet"  type="text/css" href="/css/app.css"></script>
	    <script type="text/javascript" src="/js/creationMap.js"></script>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <link rel="stylesheet" href="/css/leaflet.css" />
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1xK9LoXfFhnUvIopgzYSNxioyhHDSbuU"></script>
	    <script src="/js/leaflet.js"></script>
	    <script type="text/javascript" src="/js/bootbox.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
     	<link rel="stylesheet" type="text/css" href="/css/MarkerCluster.css">
     	<link rel="stylesheet" type="text/css" href="/css/MarkerCluster.Default.css">
     	<link rel="stylesheet" type="text/css" href="/css/map.css">
     	<script type="text/javascript" src="/js/leaflet.markercluster.js"></script>
     	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
     
 	</head>
 	
<body onload="initMap()">
	<div id="map" ></div>

	
	
	
	
  
  <div class="area"></div>
		<nav class="main-menu">
            <ul>
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Home 
                        </span>
                    </a>
                  
                </li>
                 <li class="has-subnav">
                    <a href="/connection">
                       <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                        <span class="nav-text">
                            Log in
                        </span>
                    </a>
                    
                </li>
                <li id="addmarker" class="has-subnav" >
                    <a href="#">
                        <i  class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Add a pic  
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="/about">
               			<i class="fa fa-book fa-2x" aria-hidden="true"></i>
                        <span class="nav-text">
                            About Bondi 
                        </span>
                    </a>
                    
                </li>

                
             <li class="register">
                   <a href="/register">
                        <i class="fa fa-plus-square fa-2x" aria-hidden="true"></i>
                        <span class="nav-text">
                            Register
                        </span>
                    </a>
                </li>  
                <li class="logout">
                   <a href="#">
                         <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                        <span class="nav-text">
                            Log out 
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  
    


 	 </body>
</html>

