<!DOCTYPE html>
<html >
  	<head>
	   <title>#{title}</title>
	    <link rel="stylesheet"  type="text/css" href="/css/app.css"></script>
	    <script type="text/javascript" src="/js/creationMap.js"></script>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <link rel="stylesheet" href="/css/leaflet.css" />
	    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD1xK9LoXfFhnUvIopgzYSNxioyhHDSbuU"></script>
	    <script src="/js/leaflet.js"></script>
	    <script type="text/javascript" src="/js/bootbox.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
     	<link rel="stylesheet" type="text/css" href="/css/map.css">

 	</head>
 	
 	<body onload="initMap()">
<div id="map" ></div>
<input  type="image" id="addmarker" class="leaflet-control-zoom leaflet-bar leaflet-control" src="/img/add.png" alt="Add Marker" />
<input  type="image" id="admin" class="leaflet-control-zoom leaflet-bar leaflet-control" src="/img/admin.png" alt="Admin page " />
<input  type="image" id="about" class="leaflet-control-zoom leaflet-bar leaflet-control" src="/img/about.png" alt="Admin page " />

 	 </body>
</html>

