<!DOCTYPE html>
<html >
  	<head>
	   <title>#title</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	    <script type="text/javascript" src="/js/bootbox.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/css/googleform.css">
        <script type="text/javascript" src="/js/register.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
 
 	</head>
 	
	<body>
        <a href="/">
        <i id="goback" class="fa fa-arrow-circle-left fa-5x" aria-hidden="true"></i>
    </a>
		 <div class="container">
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
            <form id ="connection" action ="/register" class="form-signin" onsubmit="checkPassGood()">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="text" id="inputPseudo" class="form-control" placeholder="Pseudo " required autofocus>
                <input type="text" id="inputName" class="form-control" placeholder="Name " required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <input type="password" id="inputCheckPassword" class="form-control" placeholder="Password" required>
                <div id="remember" class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <input class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</input>
            </form><!-- /form -->
           
        </div><!-- /card-container -->
    </div><!-- /container -->
 	</body>
</html>