body{
	font-family: "Cardo","Times New Roman",Times,serif;
	font-size: 16px;
	line-height: 1.42857143;
	color: #333;
}
h2{
	margin-bottom: 40px;    
	font-size: 36px;
	font-family: 'Montserrat',sans-serif;
	font-weight: 700;
	line-height: 1.3;
	color: #333;
	text-transform: uppercase;
	letter-spacing: .08em;
}
.lead{
	margin-bottom: 22px;
	@media (min-width: 768px)
	style.default.css:1
	.lead {
		font-size: 24px;
	}
}
.heading:after {
	content: " ";
	display: block;
	width: 100px;
	height: 1px;
	margin: 20px 0 20px;
	background: #555;
}
.container {
	margin-top: 5%;
}
img#aboutpic{
	margin-top: 5% ;
}
i#goback{
	margin-top: 2%;
	margin-left: 2%;
}
a, a:hover{
	color: inherit;
}